{% load static %}
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="/dashboard-adm" class="logo">
          <img
            src="{% static 'img/logoNat2.png' %}"
            alt="navbar brand"
            class="navbar-brand"
            height="230"
            
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a
              data-bs-toggle="collapse"
              href="/dashboard-adm"
              class="collapsed"
              aria-expanded="false"
            >
            <i class="bi bi-house-door"></i>
              <p>Dashboard</p>              
            </a>            
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="bi bi-kanban"></i>
            </span>
            <h4 class="text-section">Componentes</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#base">
                <i class="bi bi-kanban"></i>
              <p>Gestión</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
              <ul class="nav nav-collapse">
                <li>
                  <a href="/dashboard-adm/registroLibros/">
                    <span class="sub-item">Añadir libro</span>
                  </a>
                </li>
                <li>
                  <a href="/dashboard-adm/actualizarLibros/">
                    <span class="sub-item">Actualizar información</span>
                  </a>
                </li>
                <li>
                  <a href="/dashboard-adm/eliminarLibros/">
                    <span class="sub-item">Eliminar libro</span>
                  </a>
                </li>                    
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#sidebarLayouts">
                <i class="bi bi-people"></i>
              <p>Detalle de usuarios</p>                  
            </a>                
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#forms">
                <i class="bi bi-file-earmark-bar-graph"></i>
              <p>Generar reportes</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="forms">
              <ul class="nav nav-collapse">
                <li>
                  <a href="forms/forms.html">
                    <span class="sub-item">Reportes generales</span>
                  </a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#tables">
              <i class="fas fa-table"></i>
              <p>Mi biblioteca virtual</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav nav-collapse">
                <li>
                  <a href="/dashboard-adm/verLibrosDigitales/">
                    <span class="sub-item">Libros Digitales</span>
                  </a>
                </li>
                <li>
                  <a href="tables/datatables.html">
                    <span class="sub-item">Datatables</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>              
        </ul>
      </div>
    </div>
  </div>